.modalTitle{
    color: #F06292;
}

.center {
    text-align: center;
    width: 200px;
    padding: 10px;
    margin: auto;
}

.circle-slide {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 2px solid lightgray;
    box-shadow: 0 1px 1px grey;
    line-height: 10rem;
}

.taskTime {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    color: cornflowerblue;
}

.buttonStart {
    width: 100px;
}